
.container {
  background-color: #212121;
  height: 100vh;
  width: 100%;
  overflow-y: visible;
  font-family: Georgia, 'Times New Roman', Times, serif;
  scrollbar-color: #212121;
}

*::-webkit-scrollbar {
  background-color: #212121;
  color: #F6F6F6;
}

*::-webkit-scrollbar-track {
  background: #212121;       
}

body::-webkit-scrollbar-thumb {
  background-color: #464646;    
  border-radius: 10px;       
  border: 4px solid #212121;  
}

.header {
  background-color: #212121;
  display:flex;
  height: 7vh;
  position: fixed;
  width: 100%;
}

.content {
  background-color: #F6F6F6;
  display:flex;
  justify-content: center;
  align-items: center;
  
}

.header  .navbar {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: auto; 
  color: #F6F6F6;
}

.a {
  width: 73.11px;
  margin: 0rem 3rem 0rem 3rem;
  background-color: #212121;
  border: none;
  font-size: medium;
  color: #F6F6F6;
  text-decoration: none;
  text-align: center; 
}

.a:hover {
  width: 73.11px;
  margin: 0rem 3rem 0rem 3rem;
  background-color: #212121;
  border: none;
  font-size: large;
  color: #FFF;
  text-decoration: none;
  text-align: center;
}

.contentContainer {
  width: 100%;
  height: 100%;
}

.contentContainer .subcontainer{
  display: flex;
  align-items: center;
  justify-content: center; 
  color: white;
}

.subcontainer.about {
  background-image: url("./AboutBackground.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 10rem;
  height: 100vh;
}

.subcontainer.experience {
  background-color: #6d0003;
  height: 100vh;
}

.subcontainer.projects {
  background-color: #6d0003;
  height: 100vh;
}

.pfp {
  border-radius: 150px;
  margin-bottom: 7rem;
}

.aboutSection {
  text-align: left;
  font-size: large;
  max-width: 50rem;
  margin-bottom: 7rem;
}

.aboutSection .styling {
  margin-top: 1.25rem;
  letter-spacing: 0.5px;
  animation-delay: 1s;
  animation: fadeIn 1s 0.5s forwards;
  opacity: 0;
}

.aboutHeader {
  animation: fadeIn 0.5s 0.15s forwards;
  opacity: 0;
}

.name {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  font-size: x-large;
  margin-left: 3rem;
}

@keyframes fadeIn {
  to {opacity: 1;}
}

@-moz-keyframes fadeIn {
  to {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  to {opacity: 1;}
}

@-o-keyframes fadeIn {
  to {opacity: 1;}
}

@-ms-keyframes fadeIn {
  to {opacity: 1;}
}