
.container {
  background-color: #212121;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 10fr;
  overflow-y: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
  background-color: #212121;
  display:flex;
}

.content {
  background-color: #F6F6F6;
  display:flex;
  justify-content: center;
  align-items: center;
}

.header  .navbar {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: auto; 
  color: #F6F6F6;
}

.a {
  width: 73.11px;
  margin: 0rem 3rem 0rem 3rem;
  background-color: #212121;
  border: none;
  font-size: medium;
  color: #F6F6F6;
  text-decoration: none;
  text-align: center; 
}

.a:hover {
  width: 73.11px;
  margin: 0rem 3rem 0rem 3rem;
  background-color: #212121;
  border: none;
  font-size: large;
  color: #FFF;
  text-decoration: none;
  text-align: center;
}

.contentContainer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 1fr 1fr;
}

.contentContainer .subcontainer{
  display: flex;
  align-items: center;
  justify-content: center; 
  color: white;
}

.subcontainer.about {
  background-color: burlywood;
  gap: 10rem;
}

.subcontainer.experience {
  background-color: rgb(158, 131, 95);
}

.subcontainer.projects {
  background-color: rgb(53, 44, 31);
}

.pfp {
  border-radius: 150px;
}

.aboutSection {
  text-align: left;
  font-size: large;
  max-width: 30rem;
}

.name {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  font-size: x-large;
  margin-left: 3rem;
}