
.container {
  background-color: #212121;
  height: 100vh;
  width: 100%;
  overflow-y: visible;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

*::-webkit-scrollbar {
  background-color: #212121;
  color: #F6F6F6;
}

*::-webkit-scrollbar-track {
  background: #212121;       
}

body::-webkit-scrollbar-thumb {
  background-color: #464646;    
  border-radius: 10px;       
  border: 4px solid #212121;  
}

.header {
  background-color: #212121;
  display:flex;
  height: 7vh;
  position: fixed;
  width: 100%;
  z-index: 99 !important;
}

.content {
  background-color: #F6F6F6;
  display:flex;
  justify-content: center;
  align-items: center;
  
}

.header  .navbar {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: auto; 
  color: #F6F6F6;
}

.a {
  width: 73.11px;
  margin: 0rem 3rem 0rem 3rem;
  background-color: #212121;
  border: none;
  font-size: medium;
  color: #F6F6F6;
  text-decoration: none;
  text-align: center; 
}

.a:hover {
  width: 73.11px;
  margin: 0rem 3rem 0rem 3rem;
  background-color: #212121;
  border: none;
  font-size: large;
  color: #FFF;
  text-decoration: none;
  text-align: center;
}

.contentContainer {
  width: 100%;
  height: 100%;
}

.contentContainer .subcontainer{
  display: flex;
  align-items: center;
  justify-content: center; 
  color: white;
}

.subcontainer.about {
  background-image: url("./AboutBackground.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 10rem;
  height: 100vh;
}

.subcontainer.experience {
  background-color: #212121;
  height: 100vh;
}

.pfp {
  border-radius: 150px;
  margin-bottom: 7rem;
}

.aboutSection {
  text-align: left;
  font-size: large;
  max-width: 50rem;
  margin-bottom: 7rem;
  margin-left: 1.25rem;
}

.aboutSection .styling {
  margin-top: 1.25rem;
  letter-spacing: 0.5px;
  animation-delay: 2s;
  animation: fadeIn 1s 1.25s forwards;
  opacity: 0;
}

.aboutHeader {
  animation: fadeIn 0.5s 0.5s forwards;
  opacity: 0;

}

.name {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  font-size: x-large;
  margin-left: 3rem;
}

.exp {
  display: grid;
  grid-template-rows: 2fr 5fr;
  width: 100%;
  height: 100%;
}

.skillTitle {
  text-align: center;
  font-size: larger;
  word-spacing: 15px;
  letter-spacing: 2px;
  font-size: xx-large;
  margin-top: 1rem;
}

.skillsList {
display: flex;
align-items: center;
align-content: center;
font-size: large;
}

.skill {
  width: 137px;
  height: 25px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: -3rem;
  text-align: center;
}

.point {
  margin-top: -3rem;
}

.skill:hover {
  font-size: larger;
}

@keyframes fadeIn {
  to {opacity: 1;}
}

@-moz-keyframes fadeIn {
  to {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  to {opacity: 1;}
}

@-o-keyframes fadeIn {
  to {opacity: 1;}
}

@-ms-keyframes fadeIn {
  to {opacity: 1;}
}

.reveal{
  position: relative;
  transform: translateY(20px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.reveal.skillTitle {
  text-align: center;
  font-size: larger;
  word-spacing: 15px;
  letter-spacing: 2px;
  font-size: xx-large;
  margin-top: 1rem;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
  animation-delay: 3s;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
  animation-delay: 3s;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
  animation-delay: 3s;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
